.display_ipv4{
    display: flex;
    justify-content: space-between;
    width: 670px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .octet, .prefix{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px; 
    font-family: "Nunito", sans-serif;
    display: block;
    padding: 0px 10px;
    color: var(--text);
    border-radius: 5px;
    background-color: #cce7d4;
  }

  .octet{ 
    width: 90px;
  }
  
  .prefix{ 
    width: 65px;
  }
  
  p{
    margin: 0;
  }

  .render-ipv4{
    display: flex;
  }

  .st{
    display: flex;
    font-size: 50px;
    font-weight: bold;
  }

  .wrap_title, .wrap_content-bin{
    margin-right: 50px;
  }

  .point{
    padding:0 10px
  }

  .mb{
    margin-bottom: 20px;
  }

  .title-ip{
    font-size: 50px;
    font-weight: bold;
  }

  .render-ipv4_dec-octet, .render-fist_bin{
    color: var(--back);
  }

  .hidden {
    display: none;
  }
  