body {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  background-color: #b3c9b9;
  color: #2f3d33;
}

form {
  font-weight: bold;
  position: relative;
}

.radio{
position: absolute;
top: -1000px;
}

.label{
  cursor: pointer;
}

.active{
  color :#1899d6;
}

.display {
  width: 1000px;
  min-height: 50px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  border-radius: 10px;
  background-color: #1899d6;
  color: white;
  border: none;
  border-bottom: solid 3px transparent;
  border-right: solid 3px transparent;
  cursor: pointer;
  font-size: 20px;
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  width: 40px;
  height: 27px;
}

button:hover {
  transform: scale(0.9);
  border: none;
}

.board {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.result > div {
  display: flex;
  width: 500px;
  font-weight: bold;
  font-size: 20px;
}
.bin_result,
.dez_result,
.hex_result {
  width: 80%;
  padding-left: 10px;
}

.render-from-dez {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
.render-from-dez-to-hex,
.render-from-dez-to-bin {
  max-width: 50%;
  border-right: 3px solid #000;
  padding-right: 5px;
  position: relative;
}
.line-result {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.dividend {
  min-width: 40%;
  text-align: right;
}
.rest {
  width: 110px;
}
.res {
  width: 100%;
  text-align: center;
}
.arrow-left,
.arrow-right {
  position: absolute;
  width: 10px;
  height: 3px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #000;
}

.arrow-left {
  right: -4px;
  transform: rotate(-45deg);
  top: 3px;
}
.arrow-right {
  right: -10px;
  transform: rotate(45deg);
  top: 3px;
}
.db,
.dh {
  margin: 2px;
}

.render-from-bin-to-dez,
.render-from-hex-to-dez {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 50px;
}
.render-from-bin-to-dez .wrap {
  display: flex;
  margin-bottom: 20px;
}

.rank_dez > span {
  display: block;
  margin: auto auto;
}
.rank_dez {
  display: flex;
}
.rank_bin,
.rank_hex {
  text-align: center;
  margin: 10px;
}

.render-from-bin-to-hex {
  font-size: 20px;
  font-weight: bold;
}

.render-from-bin-to-hex_wrap {
  display: flex;
  justify-content: center;
}

.render-from-bin-to-hex .wrap {
  margin-bottom: 20px;
  border-right: #000 2px solid;
  margin-right: 10px;
  padding-right: 20px;
}
.render-from-bin-to-hex .wrap:last-child {
  border-right: none;
}

.wrap_rank {
  margin-bottom: 10px;
  display: flex;
}

.render-from-hex-to-dez .wrap {
  display: flex;
  margin-bottom: 20px;
}

.rank_hex-dez {
  margin-right: 10px;
}

.render-from-hex-to-bin {
  font-size: 20px;
  font-weight: bold;
}

.render-from-hex-to-bin .wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.render-rank-from-hex-to-bin {
  position: relative;
  min-width: 250px;
  border-right: 3px solid #000;
}

.rank_hex {
  /* display: flex; */
}

.hb {
  justify-content: center;
}

.res.hb {
  letter-spacing: 3px;
}

.cross {
  font-size: small;
}

.hidden {
  display: none;
}
